<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="VerifyPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="VerifyPortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://streetmaster.streetmaster.it:443/smws/verify"
                binding="basicHttpBinding" bindingConfiguration="VerifyPortBinding"
                contract="VerifyWS.Verify" name="VerifyPort" />
        </client>
    </system.serviceModel>
</configuration>